@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.App {
  text-align: center;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
}
.App-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.App-child div h1 {
  /* height: 100%; */
  /* margin-bottom: 10rem; */
  /* margin-top: 4rem; */
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.hero {
  padding-bottom: 10rem;
}
.App-child div button {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(70, 124, 126, 0.424);
  font-family: "Roboto", sans-serif;
  /* font-weight: bold; */
}
.App-child img {
  width: 9rem;
  border-radius: 50%;
  background-color: rgba(70, 124, 126, 0.424);
  /* border: turquoise solid 3px; */
}
.cook-female-image {
  /* border: solid red 3px; */
  /* position: absolute; */
  margin-bottom: 5rem;
  margin-top: -5rem;
}
.cook-male-image {
  /* border: solid green 3px; */
  /* position: absolute; */
  margin-bottom: 3rem;
  margin-top: -4rem;
  margin-right: 2rem;
}
.chef-female-image {
  /* border: solid red 3px; */
  /* position: absolute; */
  margin-bottom: 5rem;
  margin-bottom: -3rem;
}
.chef-male-image {
  /* border: solid green 3px; */
  /* position: absolute; */
  margin-bottom: -4rem;
  /* margin-top: -4rem; */
  margin-right: 2rem;
}
.Welcome-page {
  /* border: red solid 2px; */
  background-color: rgba(70, 124, 126, 0.52);
  width: 100rem;
  background-size: cover;
  /* border-top: Black solid 4px; */
  border-top-left-radius: 80%;
  height: 8rem;
}
.informations-homeCooker p {
  width: 14rem;
  margin: 0.8rem;
  margin-left: 43rem;
  font-size: 15px;
  text-align: justify;
}
.informations-homeCooker {
  background-color: rgba(70, 124, 126, 0.52);
  width: 100rem;
}
.informations-homeCooker p button {
  margin-left: 18%;
}
.informations-homeCooker h4 {
  margin: 0;
}
.Welcome-page-informations {
  /* border: red solid 2px; */
  background-color: rgba(70, 124, 126, 0.52);
  width: 200%;
  background-size: cover;
  /* border-top: Black solid 4px; */
  border-bottom-right-radius: 90%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input {
  padding: 0.2rem;
  padding-left: 0.5rem;
  border: none;
  font-size: inherit;
  background-color: rgba(70, 124, 126, 0.171);
  border-radius: 10px;
  width: 10rem;
}
button {
  /* width: 8rem; */
  border: rgb(70, 124, 126) solid 1px;
  border-radius: 0.3rem;
  padding: 0.7rem;
  /* margin: 0.3rem; */
  background-color: transparent;
  cursor: pointer;
}
input:focus {
  border: none;
  outline: none;
  color: rgb(50, 89, 90);
  /* color:ivory */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
